<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hp.blog.entity.BlogDto" >
  <resultMap id="BaseResultMap" type="com.hp.blog.entity.BlogDto" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="content" property="content" />
    <result column="title" property="title"  />
    <result column="create_time" property="create_time" />
    <result column="type" property="type"  />
  </resultMap>

  <insert id="insert" parameterType="com.hp.blog.entity.BlogDto" >
    insert into blog (title,content, create_time,type)
    values ( #{title},#{content}, CURRENT_TIMESTAMP ,#{type})
  </insert>

  <select id="selectList" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT * FROM blog
    <where>
      <if test="type!=0">
        type=#{type}
      </if>
    </where>
    ORDER BY id DESC
    limit #{page},#{size}
  </select>

  <select id="selectCount" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT count(id) as total FROM blog
    <where>
      <if test="type!=0">
        type=#{type}
      </if>
    </where>
  </select>

  <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT * FROM  blog WHERE  id=#{id};
  </select>

</mapper>