
/* =============================================================
   GENERAL STYLES
 ============================================================ */
@import url(http://fonts.googleapis.com/css?family=Montserrat);
body {
    font-family: 'Montserrat', sans-serif;
    line-height:30px;
    color:rgb(39, 38, 38);
    
}
.head-line {
    padding-top:50px;
    font-size:40px;
    font-weight:900;
    padding-bottom:30px;
}

/* =============================================================
   HEADER STYLES
 ============================================================ */
#header {
    background-color: #0C739B;
    background: url(../img/polygon.png) no-repeat center center;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    color:#E2E2E2;
    position: relative;
    padding:80px;
}


#header img {
    height:150px;
    width:150px;
    position: absolute;
    left: 80px;
}

#header a{
    position: absolute;
    right: 40px;
    bottom: 30px
}

   
 /* =============================================================
   INFO SECTION STYLES
 ============================================================ */

.info-sec {
    background-color: #000000;
padding: 20px 50px 10px 50px;
color: #FFFFFF;
}
.social-link a, .social-link a:hover {
    text-decoration:none;
    margin-right:10px;
}

 /* =============================================================
  BLOG POST STYLE
 ============================================================ */
.blog-post {
    padding-bottom:30px;
    border-bottom:2px solid #f4f4f4;
    padding-top:30px;
}
    .blog-post a, .blog-post a:hover {
        text-decoration:none;
    }
.blog-post h1 {
    font-size:30px;
    line-height:50px;
}
.blog-post h4 {
    font-size:20px;
    line-height:25px;
}
.blog-post p {
     font-size:20px;
    line-height:30px;
    padding-bottom:20px;
    padding-top:10px;
}
.copyrights{
	text-indent:-9999px;
	height:0;
	line-height:0;
	font-size:0;
	overflow:hidden;
}
 /* =============================================================
   FOOTER SECTION STYLES
 ============================================================ */
.footer-sec {
    background-color:#000000;
     margin-top:50px;
}
.foo-inner {
    text-align:right;
    padding:20px 30px;
    color:#fff;
   
}


.navbox {
    position: relative;
    float: left;
}

ul.nav {
    list-style: none;
    display: block;
    width: 200px;
    position: relative;
    left: 100px;
    padding: 60px 0 60px 0;
    background: url(../img/shad2.png) no-repeat;
    -webkit-background-size: 50% 100%;
}

li {
    margin: 5px 0 0 0;
}

ul.nav li a {
    -webkit-transition: all 0.3s ease-out;
    background: #cbcbcb url(../img/border.png) no-repeat;
    color: #174867;
    padding: 7px 15px 7px 15px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    width: 100px;
    display: block;
    cursor: pointer;
    text-decoration: none;
    -webkit-box-shadow: 2px 2px 4px #888;
}

ul.nav li a:hover {
    background: #ebebeb url(../img/border.png) no-repeat;
    color: #67a5cd;
    padding: 7px 15px 7px 30px;
}


